/haskell/workspace/.metadata/
/haskell/workspace/comment-stripper/.dist-buildwrapper/
/haskell/workspace/project-utility/.dist-buildwrapper/
/haskell/workspace/remove-svn/.dist-buildwrapper/
/haskell/workspace/source-utility/.dist-buildwrapper/
